# List Comprehensions

List comprehensions offer a convenient way to create lists out of iterables, filtering or applying functions on elements.

- Creating a list using a list comprehension:

In [1]:
sample_list = [1, 2, 3, 4]

list_comp = [i for i in sample_list]
print(list_comp)

[1, 2, 3, 4]

- List comprehensions can be used on any iterable or generator:

In [2]:
s = 'string'

list_comp = [letter for letter in s]
print(list_comp)

['s', 't', 'r', 'i', 'n', 'g']

In [3]:
sample_set = {1, 3, 9 ,17}

list_comp = [element for element in sample_set]
print(list_comp)

[1, 3, 9, 17]

- Create a list of integers from 0 to 9, using a list comprehension and `range()`

In [4]:
integers = [i for i in range(0,10)]
integers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Statements can be applied to each element using a list comprehension.

In [5]:
[i+2 for i in [1, 2, 3]]

[3, 4, 5]

Applying functions using list comprehensions:

In [6]:
reverser = lambda x: x[::-1]

[reverser(i) for i in ['fox', 'quick', 'brown']]

['xof', 'kciuq', 'nworb']

List comprehensions can be used with conditions to filter out certain elements.  
- Create a list of elements less than 24:

In [7]:
grades = [12, 24, 53, 11, 6, 9, 25]

[grade for grade in grades if grade < 24]

[12, 11, 6, 9]

In [8]:
grades = [55, 65, 40, 80, 75, 60, 30, 25]
[successfull_grade for successfull_grade in grades if successfull_grade>50]

[55, 65, 80, 75, 60]

- Given the marks students got from a test, how many students got higher than 70?

In [9]:
marks = [31, 6, 14, 43, 39, 49, 66, 24, 40, 82, 56, 30, 29, 1, 85, 45, 12, 91, 53, 29]

# Write your code here
suc_grade = [grade for grade in marks if grade>70]
print(suc_grade)
len(suc_grade)

[82, 85, 91]

3

Nested list comprehensions can be used for combining elements:
- Create a list of all possible outcomes of two fair dice.

In [10]:
die1 = range(1,7)
die2 = range(1,7)

outcomes = [(i,j) for i in die1 for j in die2]
# Print first few outcomes
outcomes[:10]

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4)]

Given below are the teams in Champions League Group D:

|Team|Country|
|---|---|
|Liverpool|England|
|Galatasaray|Turkey|
|CSKA Moscow|Russia|
|Levski Sofia|Bulgaria|

- Create a list of all home and away matches in this group:

In [11]:
group_d = ['Liverpool', 'Galatasaray', 'CSKA Moscow', 'Levski Sofia']
[(e, k) for e in group_d for k in group_d if e != k]

[('Liverpool', 'Galatasaray'),
 ('Liverpool', 'CSKA Moscow'),
 ('Liverpool', 'Levski Sofia'),
 ('Galatasaray', 'Liverpool'),
 ('Galatasaray', 'CSKA Moscow'),
 ('Galatasaray', 'Levski Sofia'),
 ('CSKA Moscow', 'Liverpool'),
 ('CSKA Moscow', 'Galatasaray'),
 ('CSKA Moscow', 'Levski Sofia'),
 ('Levski Sofia', 'Liverpool'),
 ('Levski Sofia', 'Galatasaray'),
 ('Levski Sofia', 'CSKA Moscow')]

- Given two lists of equal length, perform element-wise addition.

Sample Input:
```
l1 = [1, 2, 3]
l2 = [2, 4, 8]
```
Sample Output:
```
[3, 6, 11]
```

In [12]:
l1 = [1, 2, 3]
l2 = [2, 4, 8]
result = [l1[i] + l2[i] for i in range(len(l1))]
result

[3, 6, 11]

In [13]:
l1 = [16, 24, 5, 11, 92]
l2 = [29, -44, 0, 1, 13]

element_wise = [l1[i] + l2[i] for i in range(len(l1))]
element_wise

[45, -20, 5, 12, 105]

- Define a function using list comprehensions to calculate Mean Squared Error between two lists.  
Sample Input:
```
actual = [9, 6, 4]
predicted = [11, 4, 5]
mse(actual, predicted)
```
$$MSE = \frac{1}{m}\sum_m{(x_i-y_i)^2}$$
$\frac{(9-11)^2 + (6-4)^2 + (4-5)^2}{3}$  
Sample Output:
```
3.0
```

In [14]:
def mse(actual, predicted):
    # Write your code here. Replace None with your calculated MSE
    return None

In [15]:
def mse(actual, predicted):
    mean_square = [((actual[i] - predicted[i])**2)  / len(actual) for i in range(len(actual))]
    return sum(mean_square)

In [16]:
actual = [9, 6, 4]
predicted = [11, 4, 5]

In [17]:
mse(actual, predicted)

3.0

In [18]:
actual = [19.49, 18.32, 13.16, 8.41, 6.71, 25.87, 19.26, 39.4, 
          3.13, 11.78, 0.36, 36.13, 1.07, 7.27, 39.98, 27.43]
predicted = [20.63, 18.67, 14.82, 6.76, 7.13, 27.48, 22.49, 39.68, 
             1.87, 11.24, -0.27, 36.86, 0.63, 5.28, 39.13, 28.34]
mse(actual, predicted)

1.7933312499999976